body{
margin:0;	
}

html{
	overflow-x: hidden;
}

T1{
	color:white;
	font-family: "Roboto";
    font-weight: bold;
	bottom: 10px;
	left:5px;
	font-size:20px;
	position:relative;
}

.entete{
	background:#CE1628;
	height:98.2px;
	width:100%;
}

.logo{
	height:98.2px;
	width:266px;
}

/* Vector */
.maison{
height:43px;
width:43px;
}

.Accueil{
	width:150px;
    margin-top: -80px;
    margin-left: 600px;
}

.Commandes{
width:180px;
margin-top: -47px;
margin-left: 750px;
}

.Panier{
	width:180px;
margin-top: -48px;
       margin-left: 940px;
}

.Profil{
	width:160px;
margin-top: -48px;
  margin-left: 1100px;
}

a{
text-decoration:none;	
width:200px;
}

.Backroundimage{
	width:100%;
}

.Backroundimage2{
	width:100%;
position: relative;
    bottom: 305px;
    height: 310px;
}

.menubutton{
	margin-left: 400px;
}