*{
	margin : 0px;
	padding : 0px;
	font-family : Avenir, sans-serif;
}

nav ul{
list-style-type : none;	
}

nav li {
	float: left;
	margin-left : 50px;
	font-size:43px;
	display:block;
	text-decoration: none;
	text-color: white;
}

.page{
background-color: rgb(230, 230, 230);		
}

.menu{
	height:50px;
background-color: rgb(100, 100, 100);	
}

.connexion{
margin-left:500px;	
}

.Choix{
background-color: rgb(150, 150, 150);
font : arial;
}