html{
	overflow-x: hidden;
}

.Recherche{
background-color: #CE1628;
    width: 934px;
    height: 279px;
    position: relative;
    bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Barre{
background-color: #CE1628;
    width: 934px;
    height: 120px;
    position: relative;
    bottom: 355px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.BarreJaune{
	background-color:#FAA61A;
	width:146px;
	height:12px;
	position: relative;
	   top: 40px;
    left: 300px;
}

.BarreRecherche{
    width: 56%;
    height: 50px;
    margin-top: 90px;
    margin-right: 144px;
    border-radius: 15px;
    border: 2px solid #FAA61A;
	font-size: 25px;
	
}
.BarreRecherche:focus{
    outline: none;
}

.BouttonRecherche{
    background-color: #FAA61A;
    width: 20%;
    height: 56px;
    border-radius: 15px;
    border: none;
    position: absolute;
    bottom: 73px;
    left: 620px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 24px;
	color:white;
}

.ButtonRestaurant{
    background-color: #CE1628;
    width: 25%;
    height: 49px;
    border-radius: 5px;
    border: none;
    position: absolute;
    top: 155px;
    left: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 24px;
	color:white;
}

.ButtonPanier{
background-color: #CE1628;
    width: 20%;
    height: 35px;
    border-radius: 2px;
    border: none;
    position: absolute;
    top: 129px;
    left: 180px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: white;
}

.buttonComfirmer{
    background-color: #FAA61A;
    width: 20%;
    height: 57px;
    border-radius: 2px;
    border: none;
    position: relative;
    top: 135px;
    left: 370px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.BlocRestaurant{
    position: relative;
    bottom: 300px;	
	height:311px;
	width:979px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid gray;
	box-shadow: 4px 4px 4px gray ;
	margin-top:25px;
}

.BlocPlat{	
	height:381px;
	width:934px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -180px;
	margin-bottom: 210px;
	border: 1px solid gray;
	box-shadow: 4px 4px 4px gray ;    
	margin-top: -340px;
    margin-bottom: 360px;
}

.BlocPanier{	
    height: 250px;
    width: 934px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -356px;
    margin-bottom: 355px;
    border: 1px solid gray;
    box-shadow: 4px 4px 4px grey;
}

.espace{
margin-top:175px;
}

.espace2{
margin-top:100px;
}

.ImageRestaurant{
	width:246.58px;
	height:250px;
    margin-left: 150px;
    margin-top: 25px;
}

.ImagePlat{
	width:246.58px;
	height:250px;
    margin-left: 75px;
    margin-top: 68px;
}

.ImagePanier{
    width: 218.58px;
    height: 220px;
    margin-left: 75px;
    margin-top: 15px;
}

.Informations{
position: relative;
    left: 500px;
    bottom: 230px;
	font-family: 'Roboto', sans-serif;
	height:200px;
}

.Informations2{
    position: relative;
    left: 475px;
    bottom: 250px;
	font-family: 'Roboto', sans-serif;
	height:200px;
}

.PlusMoins{
      background-color: #FAA61A;
    width: 47px;
    height: 47px;
    border-radius: 50px;
    border: none;
    position: relative;
    bottom: 253px;
    left: 430px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin-right: 50px;
}

.quantite{
     position: relative;
    bottom: 253px;
    left: 406px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

T2{
	margin-top:50px;
	font-size: 37px;
	color: white;
	width:711px;
	height:49px;
	font-family: 'Roboto', sans-serif;
	    font-weight: bold;
	position: relative;
    top: 75px;
}

T3{
color:#CE1628;
font-size:30px;	
font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

T4{
top: 20px;
position:relative;
font-size:24px;	
font-family: 'Roboto', sans-serif;
}

T5{
top: 30px;
position:relative;
font-size:24px;	
font-family: 'Roboto', sans-serif;
}

T6{
	margin-top: 50px;
    font-size: 37px;
    color: white;
    width: 711px;
    height: 49px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    top: 35px;
}

T7{
color: #CE1628;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    bottom: 310px;
    left: 475px;
}
T8{
	color:#CE1628;
font-size:30px;	
font-family: 'Roboto', sans-serif;
    font-weight: bold;
		position: relative;
    top: 85px;
	right: 140px;
}
T9{
top: 100px;
right: 140px;
position:relative;
font-size:24px;	
font-family: 'Roboto', sans-serif;
}

T9{
top: 100px;
right: 140px;
position:relative;
font-size:24px;	
font-family: 'Roboto', sans-serif;
}
	
T10{
    color: #CE1628;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    top: 20px;
    right: -175px;
}
T11{
left: 395px;
    top: 60px;
	    font-weight: bold;
		position:relative;
font-size:30px;	
font-family: 'Roboto', sans-serif;
}
T12{
		color:#CE1628;
    left: 400px;
    top: 60px;
	    font-weight: bold;
		position:relative;
font-size:30px;	
font-family: 'Roboto', sans-serif;
}
T13{
	color: #CE1628;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    top: 55px;
    right: 140px;
}
T14{
    color: #CE1628;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    top: 45px;
    right: -175px;
}
T15{
	    top: 90px;
    right: 140px;
    position: relative;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}